*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand img {
    filter: brightness(1.9);
    position: absolute;
    top: 10px;
    left: 10px;
}

.navbar {
    padding: 30px 30px; 
}

.navbar-toggler {
    background-color: rgb(46, 44, 44) !important;
    border: 1px solid rgb(46, 44, 44) !important;
}
.navbar-toggler-icon {
    filter: invert(1);
}

.navbar .btn {
    border-radius: 20px;
    padding: 8px 20px;
    transition: all 0.3s ease-in-out;
}

.navbar .btn:hover {
    background-color: rgb(180, 32, 32);
    color: black;
}

.btn-danger{
    padding-top: 1rem;
}

/* Crear Sesion Usuarios */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #dbdee1; 
  }
  
  .imagenes-contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  
  .grid-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #dbdee1; 
  }
  
  .grid-container img {
    max-width: 160%;
    height: auto;
  }
  
  .botonInicioSesion {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: #ffffff; 
  }
  